{% extends 'base.html' %}
{% block title %}Create-Todos{% endblock%}

{% block content %}
    <div class="container">
        <div class="main">
            <div class="logo">
                <h1>Create-Todo-List</h1>
            </div>
            <div class="form">
                <form method='POST'>
                    {% csrf_token %}
                    <p>{{ form.as_p }}</p>
                    <input type="submit" value="Add" class="btn-add">
                </form>
            </div>
        </div>
    </div>
{% endblock %}